# Logs
native-html-js/logs
reactjs/logs
native-html-js/*.log
reactjs/*.log
native-html-js/npm-debug.log*
reactjs/npm-debug.log*
native-html-js/yarn-debug.log*
reactjs/yarn-debug.log*
native-html-js/yarn-error.log*
reactjs/yarn-error.log*
native-html-js/pnpm-debug.log*
reactjs/pnpm-debug.log*
native-html-js/lerna-debug.log*
reactjs/lerna-debug.log*

native-html-js/node_modules
reactjs/node_modules
native-html-js/dist
reactjs/dist
native-html-js/dist-ssr
reactjs/dist-ssr
native-html-js/*.local
reactjs/*.local

# Editor directories and files
native-html-js/.vscode/*
reactjs/.vscode/*
native-html-js/!.vscode/extensions.json
reactjs/!.vscode/extensions.json
native-html-js/.idea
reactjs/.idea
native-html-js/.DS_Store
reactjs/.DS_Store
native-html-js/*.suo
reactjs/*.suo
native-html-js/*.ntvs*
reactjs/*.ntvs*
native-html-js/*.njsproj
reactjs/*.njsproj
native-html-js/*.sln
reactjs/*.sln
native-html-js/*.sw?
reactjs/*.sw?
